body{
    width: 110px;
    height:25px;
}

a.button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid black;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:black;
  text-align:center;
  transition: all 0.2s;
}
a.button:hover{
  color:white;
  background-color:darkgrey;
}
@media all and (max-width:30em){
  a.button{
    margin:0.4em auto;
    width: 100%;
  }
}

.box-container{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box{
  height:20px;
  margin: 5px;
  visibility: 'hidden'
}